In [6]:
import pandas as pd
import numpy as np
from lib.lib_threads import run_parallel

In [2]:
DF = pd.read_csv("data/DF.csv")

In [5]:
DF.head()

,urlAT,categoríaAT,categoríaF,categoríaLN,volumenAT,opinador69778-adria,opinador141838-isab,opinador266707-fabi,opinador191131-pabl,opinador225182-grac,...,opinador49577-patri,opinador47724-saul-,opinador46878-migue,opinador45136-carla,opinador51008-cinti,opinador36363-alici,opinador43603-ana?p,opinador36364-fabia,opinador34420-elois,opinador35789-nesto
0,https://www.alternativateatral.com//obra59318-...,4.000000,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.alternativateatral.com//obra27244-...,4.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.alternativateatral.com//obra42036-...,3.000000,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.alternativateatral.com//obra39518-...,4.217993,NaN,NaN,578,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.alternativateatral.com//obra31545-...,3.533333,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for i in range(0,16676):
    try:
        with open('data/raw/{int_archivo}.txt'.format(int_archivo = i), 'r') as f:
            data = eval(f.read())
            for j in data[2]:
                if j[1:] not in DF.columns.to_list(): DF[j[1:]] = np.nan
                DF.loc[DF["urlAT"] == data[0],DF[j[1:]]] = 1
            for j in data[1]:
                j = j.replace("https://www.alternativateatral.com//","")
                if j not in DF.columns.to_list(): DF[j] = np.nan
                DF.loc[DF["urlAT"] == data[0],DF[j]] = 1

    except:
            print(i)

In [ ]:
DF.to_csv("data/DF_.csv", encoding='utf-8', index=False)